path,
polygon,
line,
circle {
  stroke-width: 2;
  stroke: #faff1e;
  fill: none;
  pointer-events: visible;
}

circle {
  stroke-width: 5;
}

.skill {
  animation: pulsing 5s linear infinite;
  cursor: pointer;
}

.skill:hover,
.skill.current {
  animation: none;
  fill: #f60 !important;
}

.skill.active {
  animation: none;
  fill: #c30;
}

.filled {
  fill: #faff1e;
}

@keyframes pulsing {
  0% {
    fill: rgba(255, 100, 0, 0.4);
  }

  20% {
    fill: rgba(255, 100, 0, 0.1);
  }

  100% {
    fill: rgba(255, 100, 0, 0.4);
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
